:root {
    --main-font-family: "Roboto", sans-serif;
    --main-font-size: 16px;
    --main-font-color: #ffffffc2;
    --main-color-gray: #636b6f;
    --card-color-white: #dbdbdd;
    --card-color-black: #4f4f52;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    min-height: 100vh;
    background-color: #fff;
    background-size: cover;
    background-position: center;
    font-size: 16px;
    line-height: 1.7;
}

.side-bar {
    background: #1b1a1b;
    color: #fff;
    width: 15rem;
    left: 0;
    height: 100vh;
    position: fixed;
    top: 0;
    overflow-y: auto;
    transition: .6 ease;
    transition-property: left;
}

.side-bar::-webkit-scrollbar {
    width: 0;
}

header {
    background: #33363a;
}

header img {
    width: 100px;
    margin: 15px;
    margin-left: 70px;
    border-radius: 50%;
    border: 3px solid #b4b8b9; 
}

header h1 {
    text-align: center;
    font-weight: 500;
    font-size: 25px;
    padding-bottom: 13px;
    font-family: sans-serif;
    letter-spacing: 2px;
}

.menu {
    width: 100%;
    margin-top: 30px;
}

.menu .item {
    position: relative;
}

.menu .item a {
    color:#fff;
    font-size: 16px;
    text-decoration: none;
    display: block;
    padding: 5px 15px;
    line-height: 60px;
    cursor: pointer;
}

.item i {
    margin-right: 15px;
}

.item a .dropdown {
    position: absolute;
    right: 0;
    margin: 20px;
    transition: .5 ease;
}

.item .sub-menu {
    background: #262627;
    padding-top: 10px;
    display: none;
}

.item .sub-menu a {
    line-height: 30px;
}

.item .sub-menu div {
    padding-left: 40px;
}

.item .sub-menu .input__box {
    padding-left: 0px;
}

.item .sub-menu a {
    padding-left: 40px;
}

.rotate {
    transform: rotate(180deg);
}

.sort-algo {
    font-size: .85rem;
    padding: 20px 0 20px 0;
}



.input__box {
    position: relative;
    padding: 10px 0;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s !important;
}

.input__box input {
    width: 80%;
    padding: 10px 0;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid var(--main-font-color);
    outline: none;
    background: transparent;
    font-size: 1rem;
    color: var(--main-font-color);
}

.input__box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    pointer-events: none;
    transition: .5s;
}

.input__box input:focus ~ label,
.input__box input:valid ~ label {
    top: -1rem;
    left: 0;
    font-size: .75rem;
}


.footer {
    padding-bottom: 4rem;
    text-align: center;
}

.footer a {
    text-decoration: none;
    color: inherit;
}

.copyright {
    margin-top: 7rem;
    font-size: .75rem;
    color: var(--main-color-gray);
}

main {
    margin-left: 16rem;
    padding: 1rem 2rem;
}

.card-list {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    gap: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
    color: var(--main-color-gray);
    background-color: var(--button-inactive-color);
    text-wrap: wrap;
    padding: 1rem;
    max-width: 15rem;
    border-radius: .75rem;
    border: 1px solid #33363a;
    box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.6);
}

._yellow {
    background-color: yellow;
    color: #4f4f52;
}

._violet {
    background-color: violet;
    color: var(--card-color-black);
}

._red {
    background-color: red;
    color: var(--card-color-white);
}

._green {
    background-color: green;
    color:  var(--card-color-white);
}

._light_green {
    background-color: lightGreen;
    color:  var(--card-color-black);
}

._orange {
    background-color: orange;
    color: var(--card-color-black);
}

._brown {
    background-color: brown;
    color: var(--card-color-white);
}

._purple {
    background-color: purple;
    color: var(--card-color-white);
}

._beige {
    background-color: beige;
    color: var(--card-color-black);
}

._cyan {
    background-color: cyan;
    color: var(--card-color-black);
}

._blue {
    background-color: blue;
    color: var(--card-color-white);
}