* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    min-height: 100vh;
    background-color: #fff;
    color: #fff;
    background-size: cover;
    background-position: center;
    font-size: 16px;
    line-height: 1.7;
}

.side-bar {
    background: #1b1a1b;
    width: 15rem;
    left: 0;
    height: 100vh;
    position: fixed;
    top: 0;
    overflow-y: auto;
    transition: .6 ease;
    transition-property: left;
}

header {
    background: #33363a;
}

header img {
    width: 100px;
    margin: 15px;
    margin-left: 70px;
    border-radius: 50%;
    border: 3px solid #b4b8b9; 
}

header h1 {
    text-align: center;
    font-weight: 500;
    font-size: 25px;
    padding-bottom: 13px;
    font-family: sans-serif;
    letter-spacing: 2px;
}

.menu {
    width: 100%;
    margin-top: 30px;
}

.menu .item {
    position: relative;
    cursor: pointer;
}

.menu .item a {
    color:#fff;
    font-size: 16px;
    text-decoration: none;
    display: block;
    padding: 5px 30px;
    line-height: 60px;
}

.item i {
    margin-right: 15px;
}

.item a .dropdown {
    position: absolute;
    right: 0;
    margin: 20px;
    transition: .5 ease;
}

.item .sub-menu {
    background: #262627;
    display: none;
}

.side-bar::-webkit-scrollbar {
    width: 0;
}

.item .sub-menu a {
    padding-left: 80px;
}

.rotate {
    transform: rotate(180deg);
}